.statistics{
    width: 100vw;
    background-color: rgb(222, 232, 226); 
    display:flex;
    flex-direction:column;
  
    align-items: center;
}
.statUl{
    gap: 20px;
    list-style-type: none;
    display: flex;
    padding: 0; 
}
.statList{
 
    display:flex;
    flex-direction:column;
    align-items: center;
    ; 

}
